.archive__columns {

}

.archive__header {
  @extend .left_column;
  display: none;
  @media screen and (min-width: $m) {
    position: static;
    display: block;
  }
}

.archive__content {
  padding: 0 2*$unit-desktop;
  @media screen and (min-width: $s) {
    padding: 0 2*$unit-desktop 4*$unit-desktop 2*$unit-desktop;
  }
}
