.gds-cookie {
  background-color: white;
  color: $mint;
  // text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 2*$unit-desktop;
  // @include box-sizing(border-box);
  // border-top: 1px solid;
  a {
    color: $mint;
    cursor: pointer;
  }
  a:hover {
    color: $mint;
  text-decoration: underline;
 }
}

.gds-cookie__text{
  width: 80%;
}
.gds-cookie__content {
  @include flexbox;
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  @include align-items(center);

}
