.drop__wrapper {
  @include transition(all 0.3s cubic-bezier(0, 0, 1, 0));
  background: $mint;
  height: 100vh;
  width: 100vw;
  position: relative;
  &--hidden {
    @include opacity(0);
    pointer-events: none;
    @include transform(scale(1.1));
  }
}

.drop__loader {
  background: $mint;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  @include transition(all 0.3s cubic-bezier(0, 0, 1, 0) 0.3s);
  &--hidden {
    @include opacity(0);
    pointer-events: none;
    @include transform(scale(1.1));
  }
}

.drop__button {
  @extend .event_venue;
  font-size: 25px;
  position: fixed;
  z-index: 10000;
  top: 50%;
  left: 50%;
  padding: 0 3*$unit-desktop;
  cursor: pointer;
  @include user-select(none);
  @include transform(translateX(-50%) translateY(-50%));
}

.drop__drawer {
    height: 100vh;
    overflow: hidden;
    position: relative;
    cursor: grab;
}

#drawCanvas {
  z-index: 1000;
  width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0.35;
	mix-blend-mode: screen;
}

#container {
  z-index: 1000;
}

.html--no-scroll {
  .gds-cookie {
    display: none !important;
  }
  header,
  main {
    display: none;
  }
}
