// Custom Fonts
@font-face {
    font-family: "GintoHotHouse";
    src: url("assets/GintoHotHouse-Regular.woff");
}

@font-face {
    font-family: "GintoHotHouse";
    src: url("assets/GintoHotHouse-Italic.woff");
    font-style: italic;

}
