.header__wrapper {
  @include flexbox;
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  width: calc(100%);
  font-size: 13px;
  z-index: 300;
}

.header_link:hover{
  border-bottom: 1px solid $white;
}

.header_current_link{
  border-bottom: 1px solid $white;
}

.header_mobile{
  display:block;
  padding: 3*$unit-desktop;
  @media screen and (min-width: $m) {
    display: none;

  }

}

.header{
  display: none;
  @media screen and (min-width: $m) {
    display: block;
  }
}
