.sections_tease {
    padding: 0 3*$unit-desktop 3*$unit-desktop 3*$unit-desktop;
    // width: calc(100% - 3*$unit-desktop);
    @media screen and (min-width: $s) {
      @include flexbox;
      padding: 0;
      width: 100%;
      @include flex-direction(row-reverse);
    }
    @media screen and (min-width: $m) {
      @include flex-direction(row);
    }
}
.artist_biography {
    text-align: left;
    padding-top: 6*$unit-desktop;
}
.event_logos_wrapper {
    padding-top: 6*$unit-desktop;
}
.event_logos {
    width: 60%;
    padding: 2*$unit-desktop 0 0;
}
.event_logos a {
  display: block;
}
.event_logos img {
    width: 100px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.event_hothouse {
  font-size: 52px;
  letter-spacing: -0.01em;
  @media screen and (min-width: $s) {
    font-size: 64px;
  }
  @media screen and (min-width: $m) {
    font-size: 90px;
  }
}
.event_number {
  font-size: 40px;
  @media screen and (min-width: $s) {
      font-size: 51px;
  }
  @media screen and (min-width: $m) {
      font-size: 72px;
  }
}
.event_date {
  font-size: 24px;
  @media screen and (min-width: $s) {
      font-size: 32px;
  }
  @media screen and (min-width: $m) {
      font-size: 48px;
  }
}
.event_time {
  font-size: 15px;
  @media screen and (min-width: $s) {
      font-size: 17px;
  }
  @media screen and (min-width: $m) {
      font-size: 24px;
  }
}
.event_artist {
  font-size: 24px;
  @media screen and (min-width: $s) {
      font-size: 32px;
  }
  @media screen and (min-width: $m) {
      font-size: 54px;
  }
}
.event_title {
  font-size: 32px;
  @media screen and (min-width: $s) {
      font-size: 43px;
  }
  @media screen and (min-width: $m) {
      font-size: 60px;
  }
}
.event_venue {
  font-size: 14px;
  @media screen and (min-width: $s) {
      font-size: 25px;
  }
  @media screen and (min-width: $m) {
      font-size: 36px;
  }
}
.event_time_instruction,
.event_until {
    font-size: 15px;
}
//gallery laterale
.image_single_wrapper {
    width: 100%;
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    flex-wrap: wrap;
    background-color: $mint;
    margin-bottom: 2*$unit-desktop;
}
// .right_column_s .image_single_wrapper {
//     margin-bottom: 1*$unit-desktop;
// }
.image_single_wrapper2 {
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
}
.image_single_wrapper2_back {
    background-color: $bg-images-hover;
    .image_single {
      mix-blend-mode: darken;
    }
}
.image_single {
    max-height: 20vh;
    cursor: pointer;
    mix-blend-mode: screen;
    @media screen and (min-width: $m) {
        max-height: 18vh;
    }
}
.image_desc_wrapper {
    cursor: pointer;
    margin-bottom: 2*$unit-desktop;
}
// .right_column_s .image_desc_wrapper {
//     margin-bottom: 1*$unit-desktop;
// }
.colored {
  // .desc_loop_index {
    color: $text-colored;
  // }
}
.image_single:hover {
    // mix-blend-mode: darken;
}
.image_single_mix {
    // mix-blend-mode: color;
}
//slider
.my-slider-wrapper {
    @include calcNegative(width, 100%, 2*$unit-desktop);
    text-align: center;
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
}
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
.image_desc_wrapper {
    @include flexbox;
    // margin-bottom: 1vw;
}
.desc_loop_index {
  display: block;
  width: 4*$unit-desktop;
  font-variant-numeric: tabular-nums;
 -moz-font-feature-settings: "tnum";
 -webkit-font-feature-settings: "tnum";
 font-feature-settings: "tnum";
 ~ div {
   width: 100%;
 }
}

//slider
.lightbox {
    position: fixed;
    top: 0;
    z-index: 400;
    width: 100%;
    height: 100%;
    background-color: rgba(163, 193, 170, 0.95s);
    // display: none;
    @include opacity(0);
    pointer-events: none;
    // @include transform(scale(0.9));
    // @include transition(all 0.3s ease);
}
.visible {
    @include opacity(1);
    // @include transform(scale(1));
    pointer-events: auto;
    // display: block;
}
.slider_navigation_wrapper {
    width: 100%;
    position: absolute;
    bottom: 0;
}
.slider_navigation {
    padding: 3*$unit-desktop;
    @include flexbox;
    @include justify-content(space-between);
    @media screen and (min-width: $m) {
        padding: 2*$unit-desktop;
    }
}
.close_button {
    color: $white;
    text-decoration: none;
    height: 18px;
    display: inline-block;
    cursor: pointer;
    @media screen and (min-width: $m) {
        height: 15px;
    }
}
.close_button:hover {
    border-bottom: 1px solid $white;
}
.slider__wrapper {
    width: 100%;
    height: 100%;
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
}
.events__slider {
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    // margin-top: 5*$unit-desktop;
}

.events__slider-in-page-wrapper {
  position: relative;
  margin-top: 6*$unit-desktop;
  button {
    position: absolute;
    z-index: 1;
    opacity: 0;
    width: 50%;
    height: 100%;
    left: 0;
    left: auto;
  }
  button[data-controls="next"] {
    right: 0;
  }
  &--not-active {
    cursor: pointer;
    button {
      display: none;
    }
    figure {
      background-color: $mint;
      &:hover {
        background-color: $bg-images-hover;
        img {
          mix-blend-mode: darken;
        }
      }
    }
    img {
      mix-blend-mode: screen;
    }
  }
}

.catalogue_description {
  margin-top: 2*$unit-desktop;
  text-align: left;
}

.events__slider-in-page {
  @include flexbox;
  figure {
    display: block !important;
  }

}


.gallery_all-wrapper {
  // @include flexbox;
  // @include flex-direction(column);
  height: 100vh;
  width: 100vw;
  img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
  }
}

.gallery_image_open {
  padding: 0 2*$unit-desktop;
  text-align: center;
  img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    @include calcNegative(max-height, 100vh, 14*$unit-desktop);
    border-top: 2*$unit-desktop solid transparent;
    @media screen and (min-width: $m) {
      @include calcNegative(max-height, 100vh, 16*$unit-desktop);
    }
  }
}

.gallery_image_caption {
  position: static;
  text-align: center;
  padding: 0 2*$unit-desktop;
  padding-bottom: 10*$unit-desktop;
  @include box-sizing(border-box);
  width: 100%;
  bottom: 0;
  //
  font-size: 11px;
  letter-spacing: 0.025em;
  @media screen and (min-width: $s) {
      font-size: 12.75px;
      line-height: 1.45;
  }
}
//video
.video__wrapper {
    width: calc(100vw - 42px);
    padding: 3*$unit-desktop;
    margin-left: -3*$unit-desktop;
    margin-top: 5*$unit-desktop;
    margin-bottom: 5*$unit-desktop;
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    transition: all 0.4s ease-in-out;
    @media screen and (min-width: $s) {
      padding: 4*$unit-desktop 2*$unit-desktop;
      margin: 0;
      @include box-sizing(border-box);
      // padding: 0;
      // margin: 0;
      width: 40vw;
      position: fixed;
      z-index: 100;
      // bottom: 4*$unit-desktop;
      // right: 4*$unit-desktop;
      bottom: 0;
      right: 0;
    }
    @media screen and (min-width: $m) {
      width: 25vw;
    }
    &--hidden {
      @include opacity(0);
    }
}

.video__shifting {
  .play_button {
    @include transition(none);
    @include opacity(0, true);
  }
  .bigger_button {
    @include transition(none);
    @include opacity(0, true);
  }
}

.video__controls {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.video__video {
  @include calcNegative(max-height, 100vh, 8*$unit-desktop);
  @include calcNegative(max-width, 100vw, 4*$unit-desktop);
  object-fit: contain;
  object-position: 100% 100%;
}

.video__controls-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

video {
    width: 100%;
    transition: all 0.3s;
    display: block;
}
.video__shift {
  @media screen and (min-width: $s) {
    width: 100%;
    max-width: 100vw;
    max-height: 100vh;
  }
}
.video__relative {
  position: relative;
  width: 100%;
  height: 100%;
  &:hover {
    .play_button {
      @include opacity(1);
    }
    .bigger_button {
      @include opacity(1);
    }
  }
}
.bigger_button {
    cursor: pointer;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 2*$unit-desktop;
    left: 2*$unit-desktop;
    opacity: 0;
    transition: all 0.2s;
}
.play_button {
  text-transform: uppercase;
  cursor: pointer;
  position: absolute;
  text-align: center;
  transition: all 0.2s;
  left: 50%;
  top: 50%;
  @include transform(translateX(-50%) translateY(-50%));
  @media screen and (min-width: $s) {
    opacity: 0;

  }
}

.iphone {
  .bigger_button {
    display: none;
  }
}
