// basics
html {
    &.html--no-scroll {
        // Block HTML scrolling
        height: 100%;
        width: 100%;
        overflow: hidden;
        body {
          overscroll-behavior-y: contain;
          position: absolute;
          overflow: hidden;
          top: 0px;
          height: 100%;
          width: 100%;
        }
    }
    &.overflowscrolling {
        &.html--no-scroll {
            position: fixed;
        }
    }
}
body {
    background: $mint;
    color: $white;
    @extend .type--s;
    font-family: "GintoHotHouse";
    -moz-font-feature-settings: "ss02";
    -webkit-font-feature-settings: "ss02";
    font-feature-settings: "ss02";
}
* {
    @include selection {
        background-color: $mint--s;
        color: $white;
    }
}
a {
    @include transition(color 0.2s ease);
    color: $white;
    @media not all and (hover: none) {
        &:hover {
            color: $white;
        }
    }
}
img {
  display: block;
  &[data-responsive="true"] {
    @include opacity(0);
  }
  &[data-responsive="true"][src] {
    @include opacity(1);
  }
}

body.img-responsive-fallback {
  img,
  img[data-responsive="true"]:not(.responsive_image--loaded) {
    @include opacity(1);
    min-height: auto !important;
  }
}

.responsive_placeholder {
  background: transparent;
}
body.img-responsive-fallback {
  .responsive_placeholder  {
    display: none;
    padding: 0 !important;
  }
}

// main
main {
    @extend .wrapper--full;
}
.italic_text {
    font-style: italic;
}
.page_categories {
    margin-top: 4*$unit-desktop;
}
.page_categories a {
    padding-bottom: 1px;
    border-bottom: 1px solid rgba(0,0,0,0);
}
.page_categories a:hover {
    border-bottom: 1px solid $white;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.menu_in_column{
  display: none;
  @media screen and (min-width: $m) {
      display: block;
  }
}
// Structure
.left_column {
  text-align: justify;
  top: 0;
  @media screen and (min-width: $s) {
    @include box-sizing(border-box);
    padding: 0 2*$unit-desktop 4*$unit-desktop 2*$unit-desktop;
    width: 33.33%;
    // @include calc(width, 40%, 2*$unit-desktop);
    // height: 100%;
    // overflow: auto;
    // position: fixed;
    // overflow-y: scroll;
  }
  @media screen and (min-width: $m) {
    height: 100%;
    overflow: auto;
    position: fixed;
    overflow-y: scroll;
    @include calc(width, 25%, 2*$unit-desktop);
    padding: 4*$unit-desktop 2*$unit-desktop;
  }
}
.left_column_text_wrapper {
  @media screen and (min-width: $m) {
    padding-top: 2*$unit-desktop;
  }
}
.center_column {
  @media screen and (min-width: $s) {
    display: none;
    // top: 0;
    // @include box-sizing(border-box);
    // height: 100%;
    // padding: 4*$unit-desktop 2*$unit-desktop;
    // @include calc(width, 40%, 2*$unit-desktop);
    // overflow: auto;
    // position: fixed;
    // overflow-y: scroll;
    // left: 40%;
  }
  @media screen and (min-width: $m) {
    display: block;
    top: 0;
    height: 100%;
    @include box-sizing(border-box);
    padding: 4*$unit-desktop 2*$unit-desktop;
    // @include calc(width, 40%, 2*$unit-desktop);
    overflow: auto;
    position: fixed;
    overflow-y: scroll;
    // left: 40%;

    width: 50%;
    left: 25%;
    min-height: 100vh;
  }
}
.center_column_text_wrapper {
  min-height: calc(100vh - 114px);
  width: 100%;
  padding: 0;
  text-align: center;
  @include flexbox;
  @include flex-wrap(wrap);
  @include flex-direction(column);
  @include justify-content(space-between);
  @media screen and (min-width: $s) {
    min-height: auto;
  }
  @media screen and (min-width: $m) {
    min-height: 100%;
  }
  div {
      margin: 0;
      padding: 0;
      line-height: 1.15;
      width: 100%;
      padding: 1*$unit-desktop 0;
      &:first-child {
          margin-top: -0.08em;
          padding: 0;
      }
      &:last-child {
          margin-bottom: -0.2em;
          padding: 0;
      }
  }
}
.right_column {
  @media screen and (min-width: $s) {
    width: 66.66%;
  }
  @media screen and (min-width: $m) {
    width: auto;
    width: 50%;
  }
}
.right_column_wrapper {
  @include flexbox;
  @media screen and (min-width: $m) {
    display: block;
  }
}
.right_column_section_img_wrapper {
    width: 50%;
    // padding-right: 2.5*$unit-desktop;
    padding-bottom: 4*$unit-desktop;
    @media screen and (min-width: $s) {
      // padding-right: 0;
    }
    @media screen and (min-width: $m) {
      padding: 4*$unit-desktop 2*$unit-desktop 0*$unit-desktop 0*$unit-desktop;
      @include calc(width, 12.5%, 2*$unit-desktop);
      height: 100%;
      @include box-sizing(border-box);
      overflow: auto;
      position: fixed;
      overflow-y: scroll;
      left: 75%;
      top: 0;
    }
}
.right_column_section_img {
    @media screen and (min-width: $s) {
        padding-bottom: 22vw;
    }
}
.right_column_section_desc {
    padding-left: 2.5*$unit-desktop;
    width: 50%;
    @media screen and (min-width: $s) {
      padding: 0 2*$unit-desktop 4*$unit-desktop 2*$unit-desktop;
      @include box-sizing(border-box);
      // width: 12.5%;
      // overflow: auto;
      // position: fixed;
      // overflow-y: scroll;
      // height: 100%;
      // left: 87.5%;
      // top: 0;
      // padding-bottom: 22vw;
    }
    @media screen and (min-width: $m) {
      width: 12.5%;
      overflow: auto;
      position: fixed;
      overflow-y: scroll;
      height: 100%;
      left: 87.5%;
      top: 0;
      padding: 4*$unit-desktop 2*$unit-desktop;
      padding-bottom: 22vw;
    }
}
.sections_poster_tablet {
  display: none;
  @media screen and (min-width: $s) {
    display: block;
    padding: 0 2*$unit-desktop 10*$unit-desktop 2*$unit-desktop;
    @include box-sizing(border-box);
    @include flexbox;
    @include flex-wrap(wrap);
    @include flex-direction(column);
    @include justify-content(space-between);
    text-align: center;
    min-height: 70vh;
  }
  @media screen and (min-width: $m) {
    display: none;
  }
}
// .right_column_s {
//     display: none;
//     @media screen and (min-width: $s) {
//         display: block;
//         padding: 4*$unit-desktop 2*$unit-desktop;
//         width: 20%;
//         @include box-sizing(border-box);
//         overflow: auto;
//         position: fixed;
//         overflow-y: scroll;
//         height: 100%;
//         left: 80%;
//         top: 0;
//         padding-bottom: 22vw;
//     }
//     @media screen and (min-width: $m) {
//         display: none;
//     }
// }
.page_columns{
  padding: 0 3*$unit-desktop;
  @media screen and (min-width: $s) {
    padding: 0;
    @include flexbox;
  }
  @media screen and (min-width: $m) {
    display: block;
  }
}
// Video
.videobg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    pointer-events: none;
}

.logo-img {
    position: absolute;
    left: 50%;
    margin: -134px 0 0 -200px;
    width: 400px;
    top: 50%;
}
#drawCanvas {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.35;
    /* display: none; */
    /* background: red; */
    mix-blend-mode: screen;
}
.newsletter-title {
    margin-bottom: 3*$unit-desktop;
}
.mc-field-group {
    margin-bottom: 2*$unit-desktop;
    color: white;
}
.mc-field-group-single {
  @include appeareance(none);
  background-color: rgba(0,0,0,0);
  border: 1px solid $white;
  height: 4*$unit-desktop;
  width: 27*$unit-desktop;
  color: $white;
  padding: 0;
  padding-left: 1*$unit-desktop;
  padding-top: 4px;
  font-family: "GintoHotHouse";
  line-height: 4*$unit-desktop;
  vertical-align: initial;
}

// @include placeholder(.mc-field-group-single) {
//   color: $white;
//   line-height: 4*$unit-desktop;
//   height: 4*$unit-desktop;
//   font-family: "GintoHotHouse";
//   z-index: 300;
// };

::-webkit-input-placeholder {
    color: $white;
    padding-top: 4px;
    line-height: 4*$unit-desktop;
    vertical-align: initial;
    font-family: "GintoHotHouse";
    z-index: 300;
}
::-moz-placeholder {
    color: $white;
    padding-top: 4px;
    line-height: 4*$unit-desktop;
    vertical-align: initial;
    font-family: "GintoHotHouse";
    z-index: 300;
}
:-ms-input-placeholder {
    color: $white;
    padding-top: 4px;
    line-height: 4*$unit-desktop;
    vertical-align: initial;
    font-family: "GintoHotHouse";
    z-index: 300;
}
::placeholder {
    color: $white;
    padding-top: 4px;
    line-height: 4*$unit-desktop;
    vertical-align: initial;
    font-family: "GintoHotHouse";
    z-index: 300;
}

.button {
  @include appeareance(none);
  color: $mint;
  background-color: $white;
  border: 1px solid $white;
  height: 4*$unit-desktop;
  width: 28.3*$unit-desktop;
  font-family: "GintoHotHouse";
  cursor: pointer;
  margin-bottom: 4*$unit-desktop;
  padding-top: 1*$unit-desktop;
  @media screen and (max-width: $s) {
    padding-top: 0.4*$unit-desktop;
  }
}
