.page_left_column {
  @extend .left_column;
}

.page_center_column {
  @extend .center_column;
  background-color: $mint;
  @media screen and (min-width: $s) {
    display: block;
    width: 50%;
  }
}

.page_image{
  display: none;
  mix-blend-mode: screen;
  @media screen and (min-width: $s) {
    display: block;
    width: 75%;
  }
  @media screen and (min-width: $m) {
    width: 50%;
  }
}

.page_image_caption {
  display: none;
  @media screen and (min-width: $m) {
    margin-top: 1%;
    display: block;
  }
}
