.tease {
    // padding-left: 3*$unit-desktop;
    // padding-right: 3*$unit-desktop;
    @include flexbox;
    margin-bottom: 5*$unit-desktop;
}
.tease__figure {
    width: 25%;
    margin-right: 2*$unit-desktop;
    display: none;
    @media screen and (min-width: $s) {
        display: block;
    }
}
.tease__content {
    width: 100%;
    @extend .type--xl;
    div {
        line-height: 1.1;
    }
    @media screen and (min-width: $s) {
        margin-left: 0;
    }
}
