$sans: 'Helvetica', sans-serif;
$serif: 'Times New Roman', serif;
$mono: 'Space Mono', monospace;

// general
html {
  font-size: 10px;
}
body {
  font-family: $sans;
}

// type sizes
.xsmall_text {
    font-size: 11px;
    letter-spacing: 0.025em;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    @media screen and (min-width: $s) {
      font-size: 10.75px;
      line-height: 1.3;
    }
}
.small_text {
    font-size: 16px;
    // letter-spacing: 0.025em;
    letter-spacing: 0.01em;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    @media screen and (min-width: $s) {
        font-size: 12.75px;
        line-height: 1.45;
    }
}
.xsmall-small_text {
  font-size: 11px;
  letter-spacing: 0.025em;
  @media screen and (min-width: $s) {
      font-size: 12.75px;
      line-height: 1.45;
  }
}

.type--xs {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.01em;
}
.type--s {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
}
.type--m {
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.01em;
}
.type--l {
  font-size: 36px;
  line-height: 1.5;
  letter-spacing: 0.01em;
}
.type--xl {
  font-size: 28px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  @media screen and (min-width: $s) {
    font-size: 48px;

  }
}
