// units
$space--xxs: 6px;
$space--xs: 12px;
$space--s: 18px;
$space: 24px;
$space--l: 36px;
$space--xl: 72px;
$space--xxl: 120px;

$unit-desktop: 7px;

// widths
$one--fifth: 1/5 * 100%;
$one--third: 1/3 * 100%;
$one--half: 1/2 * 100%;
$one--full: 100%;

// wrappers
.wrapper {
  @include box-sizing(border-box);
  margin: 0 auto;
}
.wrapper--s {
  @extend .wrapper;
  max-width: 320px;
}
.wrapper--m {
  @extend .wrapper;
  max-width: 640px;
}
.wrapper--l {
  @extend .wrapper;
  max-width: 960px;
}
.wrapper--xl {
  @extend .wrapper;
  max-width: 1024px;
}
.wrapper--full {
  @extend .wrapper;
  max-width: 100%;
}

// rows
.flex {
  @include flexbox;
  @include flex-wrap(wrap);
}
.flex--spread {
  @include flexbox;
  @include flex-wrap(wrap);
  @include justify-content(space-between);
}
.flex--centered {
  @include flexbox;
  @include flex-wrap(wrap);
  @include justify-content(center);
}
.flex--vcentered {
  @include flexbox;
  @include flex-wrap(wrap);
  @include justify-content(center);
  @include align-items(center);
}

// inputs
input, select, button {
  display: block;
  outline: 0;
  margin: 0;
  padding: 6px 12px;
  @extend .type--s;
}
