{% extends "base.twig" %}

{% block content %}
<div class="archive__columns">
  <div class="archive__header">
    {% include 'menu.twig' with {'menu': main_menu.get_items} %}
  </div>
  <div class="archive__content">
    {% for post in posts %}
      <a class="archive__link" href="{{post.link}}">
        {% include 'tease.twig' %}
      </a>
    {% endfor %}
  </div>
</div>
{% endblock %}
