<div class="event_hothouse ">
    Hot House
</div>
<div class="event_number">
    {{post.get_field('event_number')}}
</div>
<div class="event_date ">
    Opening<br>
    {{post.get_field('event_date')}}
</div>
<div>
    <span class="event_time_instructions">
        {{post.get_field('event_time_instructions')}}</span>
    <br>
    <span class="event_time ">
        {{post.get_field('event_time')}}</span>
</div>

<div class="event_artist">
    {{post.get_field('artist')}}
</div>
<div class="event_title italic_text">
    {{post.get_field('event_title')}}
</div>
<div class="event_venue">
    {{post.get_field('event_venue')}}
</div>
<div class="event_until xsmall-text ">
    The exhibition remains open until
    <br>
    {{post.get_field('open_until')}}
</div>
