<div class="sections_poster_tablet">
  {% include 'event-poster.twig' %}
</div>

<div class="sections_tease">
    <section class="center_column">
        <div class="center_column_text_wrapper">
            {% include 'event-poster.twig' %}
        </div>
    </section>

    <div class="video__wrapper">
      <div class="video__relative">
        <video id="event__video" class="video__video" width="100%" poster="{{post.get_field('video_poster')}}">
            <source src="{{post.get_field('video')}}" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
        </video>
        <div class="video__controls">
          <div class="video__controls-wrapper">
            <div class="bigger_button">
              <img src="{{ function('get_template_directory_uri') }}/assets/freccie.png" alt="" />
            </div>
            <div class="play_button type--s" id="play_button">
                Play
            </div>
          </div>

        </div>
      </div>
    </div>

    <section class="right_column">
        <div class="right_column_wrapper">
            <div class="right_column_section_img_wrapper">
                <div class="right_column_section right_column_section_img">
                    {% for item in post.get_field('event_gallery') %}
                        <div class="image_single_wrapper">
                            <div class="image_single_wrapper2" id="back-{{ loop.index0 }}">
                                <img {{function('gds_responsive_image', item.image)}} class="image_single" id="img-{{ loop.index0 }}" data-target="{{ loop.index0 }}" data-back="back-{{ loop.index0 }}"/>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="right_column_section right_column_section_desc">
                {% for item in post.get_field('event_gallery') %}
                    <div class="image_desc_wrapper xsmall_text" id="{{ loop.index0 }}" data-target="{{ loop.index0 }}" data-back="back-{{ loop.index0 }}" data-mix="img-{{ loop.index0 }}">
                        <div class="desc_loop_index">{{ loop.index }}</div>
                        <div>
                          <div>
                            {{item.image_description}}
                          </div>
                          <div>
                            {{item.image_year}}
                          </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- <section class="right_column_s">
        {% for item in post.get_field('event_gallery') %}
            <div class="image_single_wrapper">
                <div class="image_single_wrapper2" id="back2-{{ loop.index0 }}">
                    <img src="{{item.image}}" class="image_single" id="img2-{{ loop.index0 }}" data-target="2-{{ loop.index0 }}" data-back="back2-{{ loop.index0 }}"/>
                </div>
            </div>
            <div class="image_desc_wrapper xsmall_text" id="2-{{ loop.index0 }}" data-target="2-{{ loop.index0 }}" data-back="back2-{{ loop.index0 }}" data-mix="img2-{{ loop.index0 }}">
                <p class="desc_loop_index">
                    {{ loop.index }}
                </p>
                <p>
                    {{item.image_description}}<br>{{item.image_year}}<br><br>
                </p>
            </div>

        {% endfor %}
    </section> -->

    <section class="left_column small_text">
        <div class="menu_in_column">
            {% include 'menu.twig' with {'menu': main_menu.get_items} %}
        </div>

        <div class="left_column_text_wrapper">
            <div class="event_description">
                {{post.get_field('event_description')}}
            </div>
            <div class="artist_biography xsmall_text">
                {{post.get_field('artist_biography')}}
            </div>

            {% if post.get_field('event_catalogue') %}
              <div class="events__slider-in-page-wrapper events__slider-in-page-wrapper--not-active">
                <div class="events__slider-in-page">
                  {% for item in post.get_field('event_catalogue').gallery %}
                      <figure>
                        <img {{function('gds_responsive_image', item)}} id="img-{{ loop.index0 }}"/>
                      </figure>
                  {% endfor %}
                </div>
              </div>
              <div class="catalogue_description">
                {{post.get_field('event_catalogue').caption}}
              </div>
            {% endif %}

            <div class="event_logos_wrapper">
                {% for item in post.get_field('event_logos') %}
                    <div class="category xsmall_text">
                        <br>
                        <p class="event_logos_title">
                            {{item.title}}
                        </p>
                        <div class="event_logos">
                            {% for item in item.logos %}
                                <a href="{{item.logo_link}}" target="_blank">
                                  {% if item.logo_width %}
                                    <img style="width: {{item.logo_width}}px" {{function('gds_responsive_image', item.logo)}}/>
                                  {% else %}
                                    <img {{function('gds_responsive_image', item.logo)}}/>
                                  {% endif %}
                                </a>
                            {% endfor %}
                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
</div>

<div class="lightbox noselect">
    <div class="slider__wrapper ">
        <div class="events__slider">
            {% for item in post.get_field('event_gallery') %}
                <div class="gallery_all">
                  <div class="gallery_all-wrapper">
                    <div class="gallery_image_open">
                        <img {{function('gds_responsive_image', item.image)}}/>
                    </div>
                    <div class="gallery_image_caption xsmall-small_text">
                        {{item.image_description}}
                    </div>
                  </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="slider_navigation_wrapper xsmall-small_text">
        <div class="slider_navigation">
            <p class="current_slide" id="current_slide"></p>
            <p class="close_button">
                Close
            </p>
        </div>
    </div>
</div>
