<footer class="footer">
  <div class="footer__wrapper">
    {% if not drop_cookie %}
    <div class="drop__wrapper">
      <div class="drop__loader"></div>
      <div class="drop__button">HotHouse</div>
      <video class="videobg" src="{{drop_video}}" autoplay loop {{drop_muted}}></video>
      <canvas id="container" width="1" height="1" style="position:absolute"></canvas>
      <div class="drop__drawer">
        <canvas id="drawCanvas" width="300" height="300"></canvas>
      </div>
    </div>
    {% endif %}
  </div>
</footer>
