<header class="header_mobile">
    <div class="header__wrapper noselect">
        <div class="header__branding">
            <a href="{{site.url}}" class="header_link header__logo " rel="home">Home</a>
        </div>
        <div class="">
            <a href="{{site.url}}/about" class="header_link ">About</a>
        </div>
        <div class="">
            <a href="{{site.url}}/events" class="header_link">Archive</a>
        </div>
    </div>

</header>
