{% extends "base.twig" %}

{% block content %}

    <section class="page_columns">
        <section class="left_column small_text">
          <div class="menu_in_column">
              {% include 'menu.twig' with {'menu': main_menu.get_items} %}
          </div>            <div class="left_column_text_wrapper">
                <div class="event_description">
                    {{post.get_field('about_text')}}
                </div>
            </div>
        </section>
        <section class="page_center_column ">
            <img src="{{post.get_field('about_image')}}" class="page_image"/>
            <!-- <div class="small_text about_image_caption">
                {{post.get_field('image_caption')}}
            </div> -->
            <div class="page_categories small_text">
                <p class="small_text">
                    Contact
                    <br><br>
                </p>
                <p class="xsmall_text">
                    {{post.get_field('mail')}}<br>
                </p>
                <p class="xsmall_text">
                    {{post.get_field('instagram')}}
                </p>
                <p class="xsmall_text">
                    {{post.get_field('facebook')}}
                    <br>
                </p>
                <p class="xsmall_text">
                    {{post.get_field('privacy_policy')}}<br>
                </p>
                <p class="xsmall_text">
                    Colophon
                </p>
                {% for item in post.get_field('colophon') %}
                    <div class="category xsmall_text">
                        <br>
                        <p class="category_title">
                            {{item.title}}
                        </p>
                        <p class="category_names">
                            {% for item in item.names %}
                                <p>
                                    {{item.name}}
                                </p>
                            {% endfor %}
                        </p>

                    </div>
                {% endfor %}
            </div>
            <br>
            <!-- Begin Mailchimp Signup Form -->
            <div id="mc_embed_signup">
                <form action="https://hothouseseries.us20.list-manage.com/subscribe/post?u=f733d8b651d6251a15ae60fe5&amp;id=5396bc2d6d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                        <h2 class="small_text newsletter-title">Newsletter</h2>
                        <!-- <div class="indicates-required">
                            <span class="asterisk">*</span>
                            indicates required</div> -->
                        <div class="mc-field-group">
                            <!-- <label for="mce-FNAME">Name
                            </label> -->
                            <input type="text" value="" name="FNAME" placeholder="Name*" class="mc-field-group-single small_text" id="mce-FNAME">
                        </div>
                        <div class="mc-field-group">
                            <!-- <label for="mce-LNAME">Surname
                            </label> -->
                            <input type="text" value="" name="LNAME" class="mc-field-group-single small_text" placeholder="Surname*" id="mce-LNAME">
                        </div>
                        <div class="mc-field-group">
                            <!-- <label for="mce-EMAIL">Email Address
                                <span class="asterisk">*</span>
                            </label> -->
                            <input type="email" value="" name="EMAIL" placeholder="Email Address*" class="mc-field-group-single small_text required email" id="mce-EMAIL">
                        </div>
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f733d8b651d6251a15ae60fe5_5396bc2d6d" tabindex="-1" value=""></div>
                        <div class="clear"><input type="submit" value="Confirm" name="subscribe" id="mc-embedded-subscribe" class="button small_text"></div>
                    </div>
                </form>
            </div>

            <!--End mc_embed_signup-->
        </section>
    </section>

{% endblock %}
