<article class="tease tease--{{post.post_type}}" id="tease-{{post.ID}}">
    {% block content %}
    <figure class="tease__figure">
      <img class="tease__image" src="{{post.thumbnail.url}}" alt="">
    </figure>
    <div class="tease__content">
      <div class="">HotHouse {{post.get_field('event_number')}}</div>
      <div class="">{{post.get_field('event_venue')}}</div>
      <div class="">{{post.get_field('artist')}}</div>
      <div class="italic_text">{{post.get_field('event_title')}}</div>
    </div>
    {% endblock %}
</article>
